<a href="https://colab.research.google.com/github/idrismaric/githubmlprojects/blob/main/Copy_of_dubai_real_estate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [4]:
%cd '/content/drive/MyDrive/'

/content/drive/MyDrive

In [5]:
data = pd.read_csv('Transactions.csv')

In [6]:
data.head()

,transaction_id,procedure_id,trans_group_id,trans_group_ar,trans_group_en,procedure_name_ar,procedure_name_en,instance_date,property_type_id,property_type_ar,...,rooms_en,has_parking,procedure_area,actual_worth,meter_sale_price,rent_value,meter_rent_price,no_of_parties_role_1,no_of_parties_role_2,no_of_parties_role_3
0,1-11-2004-2099,11,1,مبايعات,Sales,بيع,Sell,04-10-2004,4,فيلا,...,NaN,0,860.28,4500000.0,5230.86,NaN,NaN,3.0,1.0,0.0
1,1-11-2010-15769,11,1,مبايعات,Sales,بيع,Sell,25-10-2010,3,وحدة,...,1 B/R,1,100.80,928756.0,9213.85,NaN,NaN,1.0,1.0,0.0
2,1-11-2008-211116,11,1,مبايعات,Sales,بيع,Sell,18-12-2008,3,وحدة,...,2 B/R,1,137.45,796970.0,5798.25,NaN,NaN,1.0,2.0,0.0
3,1-11-2010-3056,11,1,مبايعات,Sales,بيع,Sell,10-03-2010,3,وحدة,...,Studio,1,47.65,519000.0,10891.92,NaN,NaN,1.0,2.0,0.0
4,1-11-2009-214345,11,1,مبايعات,Sales,بيع,Sell,20-07-2009,3,وحدة,...,3 B/R,1,178.52,699000.0,3915.53,NaN,NaN,1.0,1.0,0.0

In [6]:
data.isnull().sum()/len(data)

transaction_id          0.000000
procedure_id            0.000000
trans_group_id          0.000000
trans_group_ar          0.000000
trans_group_en          0.000000
procedure_name_ar       0.000000
procedure_name_en       0.000000
instance_date           0.000000
property_type_id        0.000000
property_type_ar        0.000000
property_type_en        0.000000
property_sub_type_id    0.227268
property_sub_type_ar    0.227268
property_sub_type_en    0.227268
property_usage_ar       0.000000
property_usage_en       0.000000
reg_type_id             0.000000
reg_type_ar             0.000000
reg_type_en             0.000000
area_id                 0.000000
area_name_ar            0.000000
area_name_en            0.000000
building_name_ar        0.311618
building_name_en        0.310407
project_number          0.367805
project_name_ar         0.367805
project_name_en         0.367805
master_project_en       0.176249
master_project_ar       0.176293
nearest_landmark_ar     0.122957
nearest_landmark_en     0.122957
nearest_metro_ar        0.228945
nearest_metro_en        0.228945
nearest_mall_ar         0.233939
nearest_mall_en         0.233939
rooms_ar                0.235706
rooms_en                0.235706
has_parking             0.000000
procedure_area          0.000000
actual_worth            0.003575
meter_sale_price        0.000000
rent_value              0.968088
meter_rent_price        0.968085
no_of_parties_role_1    0.001067
no_of_parties_role_2    0.001067
no_of_parties_role_3    0.001067
dtype: float64

In [7]:
data_ml = data[['trans_group_en', 'procedure_name_en', 'property_type_en', 'property_sub_type_en', 'reg_type_en', 'building_name_en', 'master_project_en', 'nearest_landmark_en',\
     'nearest_metro_en', 'nearest_mall_en', 'rooms_en', 'has_parking', 'procedure_area','meter_sale_price', 'no_of_parties_role_1' , 'no_of_parties_role_2',
      'no_of_parties_role_3' ,'actual_worth']]

In [9]:
data_ml.head()

,trans_group_en,procedure_name_en,property_type_en,property_sub_type_en,reg_type_en,building_name_en,master_project_en,nearest_landmark_en,nearest_metro_en,nearest_mall_en,rooms_en,has_parking,procedure_area,meter_sale_price,no_of_parties_role_1,no_of_parties_role_2,no_of_parties_role_3,actual_worth
0,Sales,Sell,Villa,NaN,Existing Properties,NaN,NaN,Dubai International Airport,Salah Al Din Metro Station,Dubai Mall,NaN,0,860.28,5230.86,3.0,1.0,0.0,4500000.0
1,Sales,Sell,Unit,Flat,Existing Properties,GREEN LAKES S1,Jumeirah Lakes Towers,Burj Al Arab,Damac Properties,Marina Mall,1 B/R,1,100.80,9213.85,1.0,1.0,0.0,928756.0
2,Sales,Sell,Unit,Flat,Existing Properties,SABA 2,Jumeirah Lakes Towers,Burj Al Arab,Damac Properties,Marina Mall,2 B/R,1,137.45,5798.25,1.0,2.0,0.0,796970.0
3,Sales,Sell,Unit,Flat,Existing Properties,THE CRESCENT B,International Media Production Zone,Sports City Swimming Academy,Damac Properties,Marina Mall,Studio,1,47.65,10891.92,1.0,2.0,0.0,519000.0
4,Sales,Sell,Unit,Flat,Existing Properties,Murjan 1,Jumeriah Beach Residence - JBR,Burj Al Arab,Jumeirah Beach Resdency,Marina Mall,3 B/R,1,178.52,3915.53,1.0,1.0,0.0,699000.0

In [10]:
data_ml.isnull().sum()/len(data_ml)

trans_group_en          0.000000
procedure_name_en       0.000000
property_type_en        0.000000
property_sub_type_en    0.227268
reg_type_en             0.000000
building_name_en        0.310407
master_project_en       0.176249
nearest_landmark_en     0.122957
nearest_metro_en        0.228945
nearest_mall_en         0.233939
rooms_en                0.235706
has_parking             0.000000
procedure_area          0.000000
meter_sale_price        0.000000
no_of_parties_role_1    0.001067
no_of_parties_role_2    0.001067
no_of_parties_role_3    0.001067
actual_worth            0.003575
dtype: float64

In [11]:
len(data_ml)

1077416

In [8]:
categorical_columns = data_ml.select_dtypes(include=['object']).columns

In [9]:
categorical_columns

Index(['trans_group_en', 'procedure_name_en', 'property_type_en',
       'property_sub_type_en', 'reg_type_en', 'building_name_en',
       'master_project_en', 'nearest_landmark_en', 'nearest_metro_en',
       'nearest_mall_en', 'rooms_en'],
      dtype='object')

In [10]:
data_ml[categorical_columns] = data_ml[categorical_columns].fillna(data_ml[categorical_columns].mode().iloc[0])

<ipython-input-10-f67ea27c7946>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_ml[categorical_columns] = data_ml[categorical_columns].fillna(data_ml[categorical_columns].mode().iloc[0])

In [11]:
data_ml= data_ml.fillna(data_ml.median())

<ipython-input-11-52df117ef56b>:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data_ml= data_ml.fillna(data_ml.median())

In [10]:
data_ml.isnull().sum()

trans_group_en          0
procedure_name_en       0
property_type_en        0
property_sub_type_en    0
reg_type_en             0
building_name_en        0
master_project_en       0
nearest_landmark_en     0
nearest_metro_en        0
nearest_mall_en         0
rooms_en                0
has_parking             0
procedure_area          0
meter_sale_price        0
no_of_parties_role_1    0
no_of_parties_role_2    0
no_of_parties_role_3    0
actual_worth            0
dtype: int64

In [17]:
data_ml.head()

,trans_group_en,procedure_name_en,property_type_en,property_sub_type_en,reg_type_en,building_name_en,master_project_en,nearest_landmark_en,nearest_metro_en,nearest_mall_en,rooms_en,has_parking,procedure_area,meter_sale_price,no_of_parties_role_1,no_of_parties_role_2,no_of_parties_role_3,actual_worth
0,Sales,Sell,Villa,Flat,Existing Properties,Seven City JLT,Dubai Marina,Dubai International Airport,Salah Al Din Metro Station,Dubai Mall,1 B/R,0,860.28,5230.86,3.0,1.0,0.0,4500000.0
1,Sales,Sell,Unit,Flat,Existing Properties,GREEN LAKES S1,Jumeirah Lakes Towers,Burj Al Arab,Damac Properties,Marina Mall,1 B/R,1,100.80,9213.85,1.0,1.0,0.0,928756.0
2,Sales,Sell,Unit,Flat,Existing Properties,SABA 2,Jumeirah Lakes Towers,Burj Al Arab,Damac Properties,Marina Mall,2 B/R,1,137.45,5798.25,1.0,2.0,0.0,796970.0
3,Sales,Sell,Unit,Flat,Existing Properties,THE CRESCENT B,International Media Production Zone,Sports City Swimming Academy,Damac Properties,Marina Mall,Studio,1,47.65,10891.92,1.0,2.0,0.0,519000.0
4,Sales,Sell,Unit,Flat,Existing Properties,Murjan 1,Jumeriah Beach Residence - JBR,Burj Al Arab,Jumeirah Beach Resdency,Marina Mall,3 B/R,1,178.52,3915.53,1.0,1.0,0.0,699000.0

In [12]:
cat_cols = data_ml.select_dtypes(include=['object']).columns.tolist()

In [13]:
cat_cols

['trans_group_en',
 'procedure_name_en',
 'property_type_en',
 'property_sub_type_en',
 'reg_type_en',
 'building_name_en',
 'master_project_en',
 'nearest_landmark_en',
 'nearest_metro_en',
 'nearest_mall_en',
 'rooms_en']

In [14]:
data_ml = pd.get_dummies(data_ml, columns=cat_cols)

In [17]:
data_ml.head()

,has_parking,procedure_area,meter_sale_price,no_of_parties_role_1,no_of_parties_role_2,no_of_parties_role_3,actual_worth,trans_group_en_Gifts,trans_group_en_Mortgages,trans_group_en_Sales,...,rooms_en_7 B/R,rooms_en_8 B/R,rooms_en_9 B/R,rooms_en_GYM,rooms_en_Office,rooms_en_PENTHOUSE,rooms_en_Shop,rooms_en_Single Room,rooms_en_Store,rooms_en_Studio
0,0,860.28,5230.86,3.0,1.0,0.0,4500000.0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,1,100.80,9213.85,1.0,1.0,0.0,928756.0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,1,137.45,5798.25,1.0,2.0,0.0,796970.0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,1,47.65,10891.92,1.0,2.0,0.0,519000.0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
4,1,178.52,3915.53,1.0,1.0,0.0,699000.0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [14]:
data_ml.shape

(1077416, 3770)

In [15]:
data_ml = data_ml.iloc[1050000:,:]

In [16]:
data_ml.shape

(27416, 3770)

In [27]:
data_ml.to_csv('dubai_re_ml.csv')

In [ ]:
data_ml = pd.read_csv('dubai_re_ml.csv')

In [28]:
pip install xgboost

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xgboost in /usr/local/lib/python3.10/dist-packages (1.7.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from xgboost) (1.22.4)
Requirement already satisfied: scipy in /usr/local/lib/python3.10/dist-packages (from xgboost) (1.10.1)

In [29]:
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error

In [18]:
x =  data_ml.drop('actual_worth', axis = 1)

In [19]:
X =x.values

In [23]:
from sklearn.preprocessing import MinMaxScaler

# Assuming you have a feature matrix 'X'


# Create an instance of MinMaxScaler
scaler = MinMaxScaler()

# Fit the scaler on the data
scaler.fit(X)

# Transform the data using the scaler
X = scaler.transform(X)

# X_scaled is the scaled feature matrix

In [20]:
y = data_ml['actual_worth'].values

In [51]:
type(y)

numpy.ndarray

In [72]:
X.shape

(77417, 3769)

In [73]:
y.shape

(77417,)

In [40]:
import numpy as np

y_reshaped = np.reshape(y, (-1,1))

In [42]:
scaler.fit(y_reshaped)
y = scaler.transform(y_reshaped)

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [22]:
xgb_model = xgb.XGBRegressor()

In [24]:
type(X_train)

numpy.ndarray

In [25]:
y_train.shape

(61933,)

In [23]:
xgb_model.fit(X_train, y_train)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=100, n_jobs=None, num_parallel_tree=None,
             predictor=None, random_state=None, ...)

In [28]:
rmse = mean_squared_error(y_test, y_pred, squared=False)
print(f"RMSE: {rmse}")

RMSE: 2564434.2545349086

In [30]:
r2 = r2_score(y_test,y_pred)
print('Regressor Score is =',r2)

Regressor Score is = 0.8022416258944615

In [24]:
y_pred = xgb_model.predict(X_test)

In [26]:
y_pred

array([1359407.6 , 1064028.2 ,  521101.72, ..., 3144335.2 ,  521101.72,
        680506.06], dtype=float32)

In [42]:
X_train

,has_parking,procedure_area,meter_sale_price,no_of_parties_role_1,no_of_parties_role_2,no_of_parties_role_3,actual_worth,trans_group_en_Gifts,trans_group_en_Mortgages,trans_group_en_Sales,...,rooms_en_6 B/R,rooms_en_7 B/R,rooms_en_8 B/R,rooms_en_9 B/R,rooms_en_GYM,rooms_en_Office,rooms_en_PENTHOUSE,rooms_en_Shop,rooms_en_Single Room,rooms_en_Store
1003843,1,169.19,6844.41,1.0,1.0,0.0,1158006.0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1008835,1,67.51,7173.01,1.0,2.0,0.0,484250.0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
1045860,0,1393.73,4663.74,1.0,1.0,0.0,6500000.0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1062277,1,128.37,15838.93,1.0,1.0,0.0,2033243.0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1052301,0,746.48,4144.64,1.0,1.0,0.0,3093888.0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1006264,1,13.42,10764.53,1.0,1.0,0.0,144460.0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
1054885,0,43.26,11442.44,1.0,1.0,0.0,495000.0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1076819,1,220.09,8918.17,1.0,1.0,0.0,1962800.0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1000859,1,197.93,12378.11,2.0,1.0,0.0,2450000.0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1015794,1,89.40,17274.27,2.0,2.0,2.0,1544320.0,0,1,0,...,0,0,0,0,0,0,0,0,0,0