In [1]:
import pandas as pd

In [2]:
data = pd.read_csv(r'D:\Dropbox\00 Documents\01 Documents\02 Work\03 Tableau\DLD Dashboards\Transactions.csv')

In [3]:
data.head()

,transaction_id,procedure_id,trans_group_id,trans_group_ar,trans_group_en,procedure_name_ar,procedure_name_en,instance_date,property_type_id,property_type_ar,...,rooms_en,has_parking,procedure_area,actual_worth,meter_sale_price,rent_value,meter_rent_price,no_of_parties_role_1,no_of_parties_role_2,no_of_parties_role_3
0,1-11-2004-2099,11,1,مبايعات,Sales,بيع,Sell,04-10-2004,4,فيلا,...,NaN,0,860.28,4500000.0,5230.86,NaN,NaN,3.0,1.0,0.0
1,1-11-2010-15769,11,1,مبايعات,Sales,بيع,Sell,25-10-2010,3,وحدة,...,1 B/R,1,100.80,928756.0,9213.85,NaN,NaN,1.0,1.0,0.0
2,1-11-2008-211116,11,1,مبايعات,Sales,بيع,Sell,18-12-2008,3,وحدة,...,2 B/R,1,137.45,796970.0,5798.25,NaN,NaN,1.0,2.0,0.0
3,1-11-2010-3056,11,1,مبايعات,Sales,بيع,Sell,10-03-2010,3,وحدة,...,Studio,1,47.65,519000.0,10891.92,NaN,NaN,1.0,2.0,0.0
4,1-11-2009-214345,11,1,مبايعات,Sales,بيع,Sell,20-07-2009,3,وحدة,...,3 B/R,1,178.52,699000.0,3915.53,NaN,NaN,1.0,1.0,0.0

In [4]:
data.isnull().sum()/len(data)

transaction_id          0.000000
procedure_id            0.000000
trans_group_id          0.000000
trans_group_ar          0.000000
trans_group_en          0.000000
procedure_name_ar       0.000000
procedure_name_en       0.000000
instance_date           0.000000
property_type_id        0.000000
property_type_ar        0.000000
property_type_en        0.000000
property_sub_type_id    0.227268
property_sub_type_ar    0.227268
property_sub_type_en    0.227268
property_usage_ar       0.000000
property_usage_en       0.000000
reg_type_id             0.000000
reg_type_ar             0.000000
reg_type_en             0.000000
area_id                 0.000000
area_name_ar            0.000000
area_name_en            0.000000
building_name_ar        0.311618
building_name_en        0.310407
project_number          0.367805
project_name_ar         0.367805
project_name_en         0.367805
master_project_en       0.176249
master_project_ar       0.176293
nearest_landmark_ar     0.122957
nearest_landmark_en     0.122957
nearest_metro_ar        0.228945
nearest_metro_en        0.228945
nearest_mall_ar         0.233939
nearest_mall_en         0.233939
rooms_ar                0.235706
rooms_en                0.235706
has_parking             0.000000
procedure_area          0.000000
actual_worth            0.003575
meter_sale_price        0.000000
rent_value              0.968088
meter_rent_price        0.968085
no_of_parties_role_1    0.001067
no_of_parties_role_2    0.001067
no_of_parties_role_3    0.001067
dtype: float64

In [5]:
data_ml = data[['trans_group_en', 'procedure_name_en', 'property_type_en', 'property_sub_type_en', 'reg_type_en', 'building_name_en', 'master_project_en', 'nearest_landmark_en',\
     'nearest_metro_en', 'nearest_mall_en', 'rooms_en', 'has_parking', 'procedure_area','meter_sale_price', 'no_of_parties_role_1' , 'no_of_parties_role_2', 
      'no_of_parties_role_3' ,'actual_worth']]

In [6]:
data_ml.head()

,trans_group_en,procedure_name_en,property_type_en,property_sub_type_en,reg_type_en,building_name_en,master_project_en,nearest_landmark_en,nearest_metro_en,nearest_mall_en,rooms_en,has_parking,procedure_area,meter_sale_price,no_of_parties_role_1,no_of_parties_role_2,no_of_parties_role_3,actual_worth
0,Sales,Sell,Villa,NaN,Existing Properties,NaN,NaN,Dubai International Airport,Salah Al Din Metro Station,Dubai Mall,NaN,0,860.28,5230.86,3.0,1.0,0.0,4500000.0
1,Sales,Sell,Unit,Flat,Existing Properties,GREEN LAKES S1,Jumeirah Lakes Towers,Burj Al Arab,Damac Properties,Marina Mall,1 B/R,1,100.80,9213.85,1.0,1.0,0.0,928756.0
2,Sales,Sell,Unit,Flat,Existing Properties,SABA 2,Jumeirah Lakes Towers,Burj Al Arab,Damac Properties,Marina Mall,2 B/R,1,137.45,5798.25,1.0,2.0,0.0,796970.0
3,Sales,Sell,Unit,Flat,Existing Properties,THE CRESCENT B,International Media Production Zone,Sports City Swimming Academy,Damac Properties,Marina Mall,Studio,1,47.65,10891.92,1.0,2.0,0.0,519000.0
4,Sales,Sell,Unit,Flat,Existing Properties,Murjan 1,Jumeriah Beach Residence - JBR,Burj Al Arab,Jumeirah Beach Resdency,Marina Mall,3 B/R,1,178.52,3915.53,1.0,1.0,0.0,699000.0

In [7]:
data_ml.isnull().sum()/len(data_ml)

trans_group_en          0.000000
procedure_name_en       0.000000
property_type_en        0.000000
property_sub_type_en    0.227268
reg_type_en             0.000000
building_name_en        0.310407
master_project_en       0.176249
nearest_landmark_en     0.122957
nearest_metro_en        0.228945
nearest_mall_en         0.233939
rooms_en                0.235706
has_parking             0.000000
procedure_area          0.000000
meter_sale_price        0.000000
no_of_parties_role_1    0.001067
no_of_parties_role_2    0.001067
no_of_parties_role_3    0.001067
actual_worth            0.003575
dtype: float64

In [8]:
len(data_ml)

1077416

In [9]:
categorical_columns = data_ml.select_dtypes(include=['object']).columns

In [10]:
categorical_columns

Index(['trans_group_en', 'procedure_name_en', 'property_type_en',
       'property_sub_type_en', 'reg_type_en', 'building_name_en',
       'master_project_en', 'nearest_landmark_en', 'nearest_metro_en',
       'nearest_mall_en', 'rooms_en'],
      dtype='object')

In [11]:
data_ml[categorical_columns] = data_ml[categorical_columns].fillna(data_ml[categorical_columns].mode().iloc[0])

C:\Users\Idris\anaconda3\lib\site-packages\pandas\core\frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [13]:
data_ml= data_ml.fillna(data_ml.median())

In [14]:
data_ml.isnull().sum()

trans_group_en          0
procedure_name_en       0
property_type_en        0
property_sub_type_en    0
reg_type_en             0
building_name_en        0
master_project_en       0
nearest_landmark_en     0
nearest_metro_en        0
nearest_mall_en         0
rooms_en                0
has_parking             0
procedure_area          0
meter_sale_price        0
no_of_parties_role_1    0
no_of_parties_role_2    0
no_of_parties_role_3    0
actual_worth            0
dtype: int64

In [15]:
cat_cols = data_ml.select_dtypes(include=['object']).columns.tolist()

In [16]:
cat_cols

['trans_group_en',
 'procedure_name_en',
 'property_type_en',
 'property_sub_type_en',
 'reg_type_en',
 'building_name_en',
 'master_project_en',
 'nearest_landmark_en',
 'nearest_metro_en',
 'nearest_mall_en',
 'rooms_en']

In [17]:
data_ml = pd.get_dummies(data_ml, columns=cat_cols)

In [18]:
data_ml.shape

(1077416, 3770)